/*! 
 * \cond
 * SPDX-FileCopyrightText: 2011-2019 Disney Enterprises, Inc.
 * SPDX-License-Identifier: LicenseRef-Apache-2.0
 * \endcond
 * \mainpage KSeExpr
 * \section maindoc User and Programmer Tutorials
 *  - \subpage userdoc
 *  - <a class="el" href="./html/SeExpr_FAQ.html">New v3 FAQ</a>
 * \section demos Demo Applications
 *     - \subpage mytut (code at asciiGraph.cpp)
 *     - \subpage uitut (code at imageEditor.cpp)
 *     - Image Synthesizer  (at imageSynth.cpp)
 *     - SeGrapher Qt Grapher (at demos/segraph)
 *     - Renderman Shadeop (at demos/rman)
 *     - \subpage varblocks
 * \section mainapi Main API pages
 *  - Expression - Main class to parse a single expression
 *  - ExprVarRef - Binding of an external variable to an expression context.
 *  - ExprFunc - Define a custom function that calls C++ code
 *  - ExprFuncX - Manual argument parsing C++ code
 *  - ExprFuncNode - Node that calls a function (needed for SeExprFuncX arg parsing)
 * \section useful Useful classes and functions
 *  - Vec - Class to hold and manipulate n-dimensional vectors
 *  - ExprBuiltins.h - Useful builtin functions that are also available in C++
 *  - KSeExpr::Curve - Hermite interpolation curve.
 *
 * \section internals Internals
 *  - ExprNode - Parse Tree Node
 *  - ExprParser - Entry point to bison/flex parser
 *
 * \section Other
 *  - <a class="el" href="./v1/index.html">Older Documentation (v1-v2)</a>
 */

/**
\page mytut Simple ASCII Grapher Tutorial
\htmlinclude tutorial.html
*/
/**
\page uitut Image Editor Tutorial
\htmlinclude uitutorial.html
*/
/**
\page varblocks Using Variable Blocks
\htmlinclude varblocks.html
*/
/**
\page userdoc User Documentation
\htmlinclude userdoc.html
*/
